@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

:root{
    --primary: #F4F4F4;
    --secondary: #E6E6E6;
    --extra: #ACACAC;
    --main: #333333;
    --muted: #666666;
    --acent: #929292;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Sora", sans-serif;
    user-select: none;
}
#desktop{
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 20px;
    background-image: url(./wallpapers/bg.gif);
    background-size: cover;
    background-repeat: no-repeat;
}
#taskbar{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: var(--secondary);
    border-top: 1px solid var(--extra);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}
#taskbar-apps{
    flex-grow: 1;
    display: flex;
    height: 100%;
    padding: 6px;
    gap: 6px;
    align-items: center;
}
.app-tab{
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4cqh;
    transition: 0.4s background;
}
.app-tab:hover{
    background-color: color-mix(in srgb, var(--extra), transparent 70%);
}
.app-tab:active{
    background-color: color-mix(in srgb, var(--extra), transparent 40%);
}
#system-tray{
    display: flex;
    width: 250px;
    height: 100%;
    padding: 8px;
    gap: 4px;
    align-items: center;
    color: var(--main);
    font-size: 12px;
    font-weight: 500;
    justify-content: space-around;
}
.tray-icons{
    height: 70%;
    aspect-ratio: 1 / 1;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 80% 80%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: color-mix(in srgb, var(--extra), transparent 90%);
    transition: background-color 0.4s;
}
.tray-icons:hover{
    background-color: color-mix(in srgb, var(--extra), transparent 70%);
}
#time-wrapper{
    height: calc(100% + 2px);
    text-align: center;
    padding: 2px;
    font-size: 1.4cqh;
}
#clock{font-size: 1.6cqh;}
#wifi{background-image: url(https://img.icons8.com/?size=100&id=0jZAf2FqZ3be&format=png);}
#sound{background-image: url(https://img.icons8.com/?size=100&id=o8eI9Fvy3bbe&format=png);}
#battery{background-image: url(https://img.icons8.com/?size=100&id=WZXQfJWER0kY&format=png);}
#noti-bell{background-image: url(https://img.icons8.com/?size=100&id=gnsB3xE8Q5Et&format=png);}